<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoem Page</title>
</head>
<body>
    <form action="/user/" method="get">
    <h2>The total number o users are: <%= count %> </h2>
    <button>Join us today</button>
</form>
</body>
</html>